:root {
    background-color: grey;
}

nav {
    height: 100;
    border: solid red 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
    justify-items: center;
}
nav #key {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-items: center;
    border: solid rgb(119, 119, 45) 2px;
}

nav #key span {
    /* justify-self: center; */
    grid-column: 1/-1;
}

nav #timer {
    display: grid;
    justify-content: center;
    align-items: center;
}

nav #highscore {
    background-color: red;
}

nav #key {
    background: rgb(188, 188, 188);
}
nav .legendPicDiv {
    position: relative;
}
nav .checkmark {
    height: 50px;
    position: absolute;
    left: 30%;
    bottom: 20%;
}

nav #auth {
    border: solid black 2px;
    background-color: aquamarine;
    border-radius: 5px;
    display: grid;
    width: 200px;
    justify-items: center;
}

nav #auth button {
    background-color: white;
    border: solid black 1px;
    padding: 0;
    width: 191px;
    height: 46px;
    border-radius: 10px;
    margin: 1px;
}

nav #signIn {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

nav #signIn span {
    grid-column: 1 /-1;
}

nav #signUp {
    display: grid;
    width: 100%;
    /* border-top: solid black 2px; */
    justify-items: center;
    align-items: center;
}

#puzzle {
    border: solid green 2px;
    display: grid;
    justify-items: center;
}
