nav {
    border: solid red 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
    justify-items: center;
}
#key {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-items: center;
    border: solid rgb(119, 119, 45) 2px;
}

#key span {
    /* justify-self: center; */
    grid-column: 1/-1;
}

#puzzle {
    border: solid green 2px;
    display: grid;
    justify-items: center;
}
