:root {
    --main-bg: #d7ddd7;
    --sub-bg: #8c948c;
    background-color: var(--main-bg);
}

@font-face {
    font-family: 'DSEG';
    src: local('DSEG'),
        url('./fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.ttf')
            format('truetype');
    font-weight: normal;
}

nav {
    height: 100;
    display: grid;
    background-color: var(--sub-bg);
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
    justify-items: center;
}
nav #key {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-items: center;
    border: solid rgb(119, 119, 45) 2px;
}

nav #key span {
    grid-column: 1/-1;
}

nav #timer {
    display: grid;
}
nav #timer button {
    height: 50px;
    font-size: 30px;
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
}

nav #blank-timer-div {
    height: 50px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
}

nav #clock {
    font-family: 'DSEG';
    font-size: 30px;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    width: 100px;
    background-color: rgb(45, 45, 45);
    color: rgb(255, 72, 0);
    text-align: center;
    margin-top: auto;
}

nav #highscore {
    background-color: red;
}

nav #key {
    background: var(--main-bg);
    border-radius: 10px;
    border: solid 2px black;
}
nav .legendPicDiv {
    position: relative;
}
nav .checkmark {
    height: 50px;
    position: absolute;
    left: 30%;
    bottom: 20%;
}

nav #auth {
    border-radius: 5px;
    display: grid;
    width: 200px;
    justify-items: center;
}

nav #auth button {
    background-color: rgb(255, 255, 255);
    border: none;
    margin: 5px;
    width: 185px;
    height: 40px;
    padding: 0;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    background-position: center;
}

nav #signIn {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

nav #signIn span {
    grid-column: 1 /-1;
}

nav #signUp {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
}

#puzzle {
    border: solid green 2px;
    display: grid;
    justify-items: center;
}

#score-card {
    border: solid green 2px;
    display: grid;
}
